@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.ForbiddenAccess>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Master.cshtml";
}

<h2>Whoops!</h2>
<p>Seems like you don't have access to view this page.</p>