<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT members ANY>
<!ATTLIST members id ID #REQUIRED>
<!ELEMENT forbiddenAccess ANY>
<!ATTLIST forbiddenAccess id ID #REQUIRED>
<!ELEMENT login ANY>
<!ATTLIST login id ID #REQUIRED>
<!ELEMENT master ANY>
<!ATTLIST master id ID #REQUIRED>
<!ELEMENT homePage ANY>
<!ATTLIST homePage id ID #REQUIRED>
<!ELEMENT textPage ANY>
<!ATTLIST textPage id ID #REQUIRED>
<!ELEMENT articlesOverview ANY>
<!ATTLIST articlesOverview id ID #REQUIRED>
<!ELEMENT articleItem ANY>
<!ATTLIST articleItem id ID #REQUIRED>
<!ELEMENT projectsOverview ANY>
<!ATTLIST projectsOverview id ID #REQUIRED>
<!ELEMENT projectItem ANY>
<!ATTLIST projectItem id ID #REQUIRED>
<!ELEMENT aboutUsPage ANY>
<!ATTLIST aboutUsPage id ID #REQUIRED>
<!ELEMENT sitemap ANY>
<!ATTLIST sitemap id ID #REQUIRED>
<!ELEMENT message ANY>
<!ATTLIST message id ID #REQUIRED>
<!ELEMENT contactPage ANY>
<!ATTLIST contactPage id ID #REQUIRED>
]>
<root id="-1">
  <homePage id="1089" key="81c24c34-694d-4f53-8a33-e3614ccdb14f" parentID="-1" level="1" creatorID="0" sortOrder="6" createDate="2017-04-02T01:57:05" updateDate="2017-04-02T20:51:23" nodeName="Home Page" urlName="home-page" path="-1,1089" isDoc="" nodeType="1057" creatorName="Vilius Vigelis" writerName="Vilius Vigelis" writerID="0" template="1056" nodeTypeAlias="homePage">
    <metaKeywords><![CDATA[Home Page]]></metaKeywords>
    <metaDescription><![CDATA[Home Page]]></metaDescription>
    <umbracoNaviHide>0</umbracoNaviHide>
    <siteTitle><![CDATA[Home Page]]></siteTitle>
    <footer><![CDATA[Aarhus Web Developers - All rights reserved © 2017]]></footer>
    <articlesOverview id="1093" key="9903d6f1-cdac-4830-9293-aeaeca7e0d71" parentID="1089" level="2" creatorID="0" sortOrder="2" createDate="2017-04-02T02:23:22" updateDate="2017-04-02T02:23:22" nodeName="News" urlName="news" path="-1,1089,1093" isDoc="" nodeType="1061" creatorName="Vilius Vigelis" writerName="Vilius Vigelis" writerID="0" template="1060" nodeTypeAlias="articlesOverview">
      <metaKeywords><![CDATA[News]]></metaKeywords>
      <metaDescription><![CDATA[News]]></metaDescription>
      <umbracoNaviHide>0</umbracoNaviHide>
      <articlesBodyText><![CDATA[<p>News</p>]]></articlesBodyText>
      <articlesTitle><![CDATA[News]]></articlesTitle>
      <articleItem id="1076" key="17f28e9b-828f-4c79-8711-0b70ea94e205" parentID="1093" level="3" creatorID="0" sortOrder="1" createDate="2017-04-02T00:45:17" updateDate="2017-04-02T18:58:06" nodeName="New Office" urlName="new-office" path="-1,1089,1093,1076" isDoc="" nodeType="1063" creatorName="Vilius Vigelis" writerName="Vilius Vigelis" writerID="0" template="1062" nodeTypeAlias="articleItem">
        <metaKeywords><![CDATA[New Office]]></metaKeywords>
        <metaDescription><![CDATA[New Office]]></metaDescription>
        <umbracoNaviHide>0</umbracoNaviHide>
        <articleContent><![CDATA[<p>We are happy to announce that we have moved to a new office. From now on you can find us at Incuba, Katrinebjerg, Åbogade, Aarhus N, 8210.</p>]]></articleContent>
        <articleTitle><![CDATA[New Office]]></articleTitle>
      </articleItem>
      <articleItem id="1077" key="d5cfc3eb-96ba-4b0d-9b22-c27abc12b6c8" parentID="1093" level="3" creatorID="0" sortOrder="2" createDate="2017-04-02T00:45:57" updateDate="2017-04-02T18:59:36" nodeName="Umbraco Meetup" urlName="umbraco-meetup" path="-1,1089,1093,1077" isDoc="" nodeType="1063" creatorName="Vilius Vigelis" writerName="Vilius Vigelis" writerID="0" template="1062" nodeTypeAlias="articleItem">
        <metaKeywords><![CDATA[Umbraco Meetup]]></metaKeywords>
        <metaDescription><![CDATA[Umbraco Meetup]]></metaDescription>
        <umbracoNaviHide>0</umbracoNaviHide>
        <articleContent><![CDATA[<p>We're organizing our first Umbraco meetup in Aarhus. The preliminary date is to be set somewhere in June. Currently, we're looking for potential speakers. The event will be free to attend with lots of lovely snacks.</p>]]></articleContent>
        <articleTitle><![CDATA[Umbraco Meetup]]></articleTitle>
      </articleItem>
      <articleItem id="1078" key="bc15df93-a3b2-4f8f-ab09-fcd24f91388f" parentID="1093" level="3" creatorID="0" sortOrder="3" createDate="2017-04-02T00:46:19" updateDate="2017-04-02T19:01:27" nodeName="Internship Opportunities" urlName="internship-opportunities" path="-1,1089,1093,1078" isDoc="" nodeType="1063" creatorName="Vilius Vigelis" writerName="Vilius Vigelis" writerID="0" template="1062" nodeTypeAlias="articleItem">
        <metaKeywords><![CDATA[Internship Opportunities]]></metaKeywords>
        <metaDescription><![CDATA[Internship Opportunities]]></metaDescription>
        <umbracoNaviHide>0</umbracoNaviHide>
        <articleContent><![CDATA[<p>We're open to invite students for internship opportunities. At the moment we could take in two Web Developers and one Web Designer. The internship may be flexible on the student terms. There may be opportunities to stay after graduation.</p>]]></articleContent>
        <articleTitle><![CDATA[Internship Opportunities]]></articleTitle>
      </articleItem>
    </articlesOverview>
    <projectsOverview id="1094" key="05439aea-b7c8-4e72-add9-79b96e07228d" parentID="1089" level="2" creatorID="0" sortOrder="3" createDate="2017-04-02T02:24:16" updateDate="2017-04-02T16:44:42" nodeName="Projects" urlName="projects" path="-1,1089,1094" isDoc="" nodeType="1065" creatorName="Vilius Vigelis" writerName="Vilius Vigelis" writerID="0" template="1064" nodeTypeAlias="projectsOverview">
      <metaKeywords><![CDATA[Our Projects]]></metaKeywords>
      <metaDescription><![CDATA[Our Projects]]></metaDescription>
      <umbracoNaviHide>0</umbracoNaviHide>
      <projectsBodyText><![CDATA[<p>Our Projects</p>]]></projectsBodyText>
      <projectsTitle><![CDATA[Our Projects]]></projectsTitle>
      <projectItem id="1079" key="124ff504-5536-4790-9979-a8fdc3a14798" parentID="1094" level="3" creatorID="0" sortOrder="1" createDate="2017-04-02T00:46:52" updateDate="2017-04-02T18:30:55" nodeName="Emilia Hair Studio" urlName="emilia-hair-studio" path="-1,1089,1094,1079" isDoc="" nodeType="1067" creatorName="Vilius Vigelis" writerName="Vilius Vigelis" writerID="0" template="1066" nodeTypeAlias="projectItem">
        <metaKeywords><![CDATA[Emilia Hair Studio]]></metaKeywords>
        <metaDescription><![CDATA[Emilia Hair Studio]]></metaDescription>
        <umbracoNaviHide>0</umbracoNaviHide>
        <projectTitle><![CDATA[Emilia Hair Studio]]></projectTitle>
        <projectDescription><![CDATA[<p>Emilia Hair Studio is a high-class hair &amp; beauty salon in Acton Town, London. It was our first project we did, where we created a stylish website with custom functionality. The website allows to monitor the salon's stock, enables visitors to book a time and pay in advance, plus the news sections keeps the website alive and informs visitors about potential events or new services.</p>]]></projectDescription>
        <projectStatus>10</projectStatus>
      </projectItem>
      <projectItem id="1080" key="6e282c02-2a96-4bba-b9ff-912a76b9aa2c" parentID="1094" level="3" creatorID="0" sortOrder="2" createDate="2017-04-02T00:47:15" updateDate="2017-04-02T18:34:42" nodeName="Ramunes Linija" urlName="ramunes-linija" path="-1,1089,1094,1080" isDoc="" nodeType="1067" creatorName="Vilius Vigelis" writerName="Vilius Vigelis" writerID="0" template="1066" nodeTypeAlias="projectItem">
        <metaKeywords><![CDATA[Ramunes Linija]]></metaKeywords>
        <metaDescription><![CDATA[Ramunes Linija]]></metaDescription>
        <umbracoNaviHide>0</umbracoNaviHide>
        <projectTitle><![CDATA[Ramunes Linija]]></projectTitle>
        <projectDescription><![CDATA[<p>Ramunes Linija is a country wide chain of beauty salons and hold the title of being one of the best. This project was inspired by our work for Emilia Hair Studio and follows a similar approach enabling online booking, stock monitoring. However, as it is a chain of salons, we have created the ability for the staff to create events, write/edit articles and promote special offers for a limited time.</p>]]></projectDescription>
        <projectStatus>10</projectStatus>
      </projectItem>
      <projectItem id="1081" key="e0827b48-f658-4338-b9e0-2a38ad102226" parentID="1094" level="3" creatorID="0" sortOrder="3" createDate="2017-04-02T00:47:34" updateDate="2017-04-02T18:37:26" nodeName="Zaage Recruitment" urlName="zaage-recruitment" path="-1,1089,1094,1081" isDoc="" nodeType="1067" creatorName="Vilius Vigelis" writerName="Vilius Vigelis" writerID="0" template="1066" nodeTypeAlias="projectItem">
        <metaKeywords><![CDATA[Zaage Recruitment]]></metaKeywords>
        <metaDescription><![CDATA[Zaage Recruitment]]></metaDescription>
        <umbracoNaviHide>0</umbracoNaviHide>
        <projectTitle><![CDATA[Zaage Recruitment]]></projectTitle>
        <projectDescription><![CDATA[<p>Zaage Recruitment is a marine recruitment company based in Lithuania, Klaipeda. We have used Umbraco to create a custom system for them that allows users to create, manage their job candidate profiles and apply for positions. On the backend office side, Zaage Recruitment team can monitor the available candidates, create new job postings and filter available candidates for each position with ease based on their specialty, skills, experience, etc.</p>]]></projectDescription>
        <projectStatus>10</projectStatus>
      </projectItem>
      <projectItem id="1132" key="7676f6d5-5f2c-4932-883d-8d6e6ab14cf7" parentID="1094" level="3" creatorID="0" sortOrder="4" createDate="2017-04-02T17:36:03" updateDate="2017-04-02T17:36:03" nodeName="Members Only Project" urlName="members-only-project" path="-1,1089,1094,1132" isDoc="" nodeType="1067" creatorName="Vilius Vigelis" writerName="Vilius Vigelis" writerID="0" template="1066" nodeTypeAlias="projectItem">
        <metaKeywords><![CDATA[Members Only Project]]></metaKeywords>
        <metaDescription><![CDATA[Members Only Project]]></metaDescription>
        <umbracoNaviHide>0</umbracoNaviHide>
        <projectTitle><![CDATA[Members Only Project]]></projectTitle>
        <projectDescription><![CDATA[<p>Members Only Project Members Only Project</p>]]></projectDescription>
        <projectStatus>9</projectStatus>
      </projectItem>
    </projectsOverview>
    <aboutUsPage id="1099" key="38f0f5b2-d0ba-42ab-b871-fa4c533c22b4" parentID="1089" level="2" creatorID="0" sortOrder="4" createDate="2017-04-02T02:41:49" updateDate="2017-04-02T18:56:05" nodeName="About Us" urlName="about-us" path="-1,1089,1099" isDoc="" nodeType="1098" creatorName="Vilius Vigelis" writerName="Vilius Vigelis" writerID="0" template="1097" nodeTypeAlias="aboutUsPage">
      <metaKeywords><![CDATA[About Us Working]]></metaKeywords>
      <metaDescription><![CDATA[About Us Working]]></metaDescription>
      <umbracoNaviHide>0</umbracoNaviHide>
      <aboutUsGrid><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": [
        {
          "name": "",
          "areas": [
            {
              "grid": 12,
              "allowAll": false,
              "allowed": [
                "headline"
              ],
              "hasConfig": false,
              "controls": [
                {
                  "value": "About Us",
                  "editor": {
                    "alias": "headline"
                  },
                  "active": false
                }
              ]
            },
            {
              "grid": 12,
              "allowAll": false,
              "allowed": [
                "media"
              ],
              "hasConfig": false,
              "controls": [
                {
                  "value": {
                    "focalPoint": {
                      "left": 0.5,
                      "top": 0.5
                    },
                    "id": 1136,
                    "image": "/media/1004/aboutus.jpg"
                  },
                  "editor": {
                    "alias": "media"
                  },
                  "active": false
                }
              ]
            },
            {
              "grid": 12,
              "allowAll": false,
              "allowed": [
                "rte"
              ],
              "hasConfig": false,
              "controls": [
                {
                  "value": "<h5>We are a group of professionals and want to help you with your online business. We specialize in the latest and most advanced web technologies and follow only the proven practices. We have a high standard that we follow to bring creative and enhancing business solutions.</h5>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": true
                }
              ],
              "hasActiveChild": true,
              "active": true
            },
            {
              "grid": 4,
              "hasConfig": false,
              "controls": [
                {
                  "value": "Vision",
                  "editor": {
                    "alias": "headline"
                  },
                  "active": false
                },
                {
                  "value": "We solely focus on building software that enhances your brand and everyday workflow of your online business.",
                  "editor": {
                    "alias": "quote"
                  },
                  "active": false
                }
              ]
            },
            {
              "grid": 4,
              "hasConfig": false,
              "controls": [
                {
                  "value": "People",
                  "editor": {
                    "alias": "headline"
                  },
                  "active": false
                },
                {
                  "value": "Our team consists of highly-skilled professionals with higher education degrees in their respective fields to ensure highest quality standards.",
                  "editor": {
                    "alias": "quote"
                  },
                  "active": false
                }
              ]
            },
            {
              "grid": 4,
              "hasConfig": false,
              "controls": [
                {
                  "value": "Skills",
                  "editor": {
                    "alias": "headline"
                  },
                  "active": false
                },
                {
                  "value": "We work with highly adopted and secure technologies to bring you the best possible results.",
                  "editor": {
                    "alias": "quote"
                  },
                  "active": false
                }
              ]
            }
          ],
          "label": "About Us",
          "hasConfig": false,
          "id": "ce4ffab5-8599-59a7-5501-220913c4283e",
          "hasActiveChild": true,
          "active": true
        }
      ]
    }
  ]
}]]></aboutUsGrid>
    </aboutUsPage>
    <contactPage id="1106" key="3a12b433-d36d-4ec7-b681-345168f62fa5" parentID="1089" level="2" creatorID="0" sortOrder="5" createDate="2017-04-02T05:21:29" updateDate="2017-04-02T05:21:29" nodeName="Contact Us" urlName="contact-us" path="-1,1089,1106" isDoc="" nodeType="1105" creatorName="Vilius Vigelis" writerName="Vilius Vigelis" writerID="0" template="1104" nodeTypeAlias="contactPage">
      <metaKeywords><![CDATA[Contact Us]]></metaKeywords>
      <metaDescription><![CDATA[Contact Us]]></metaDescription>
      <umbracoNaviHide>0</umbracoNaviHide>
    </contactPage>
    <login id="1128" key="a5286040-9d0f-419c-8c8c-e15383e102e8" parentID="1089" level="2" creatorID="0" sortOrder="6" createDate="2017-04-02T16:22:48" updateDate="2017-04-02T16:22:48" nodeName="Login" urlName="login" path="-1,1089,1128" isDoc="" nodeType="1127" creatorName="Vilius Vigelis" writerName="Vilius Vigelis" writerID="0" template="1126" nodeTypeAlias="login">
      <metaKeywords><![CDATA[Login]]></metaKeywords>
      <metaDescription><![CDATA[Login]]></metaDescription>
      <umbracoNaviHide>0</umbracoNaviHide>
    </login>
    <forbiddenAccess id="1131" key="957dae9f-6149-4abf-bc77-167a58de278d" parentID="1089" level="2" creatorID="0" sortOrder="7" createDate="2017-04-02T17:30:03" updateDate="2017-04-02T17:30:03" nodeName="Forbidden Access" urlName="forbidden-access" path="-1,1089,1131" isDoc="" nodeType="1130" creatorName="Vilius Vigelis" writerName="Vilius Vigelis" writerID="0" template="1129" nodeTypeAlias="forbiddenAccess">
      <metaKeywords><![CDATA[Forbidden Access]]></metaKeywords>
      <metaDescription><![CDATA[Forbidden Access]]></metaDescription>
      <umbracoNaviHide>1</umbracoNaviHide>
    </forbiddenAccess>
    <members id="1135" key="f51839f2-d4f4-4614-9599-46b374145016" parentID="1089" level="2" creatorID="0" sortOrder="8" createDate="2017-04-02T17:44:19" updateDate="2017-04-02T17:44:19" nodeName="Members" urlName="members" path="-1,1089,1135" isDoc="" nodeType="1134" creatorName="Vilius Vigelis" writerName="Vilius Vigelis" writerID="0" template="1133" nodeTypeAlias="members">
      <metaKeywords><![CDATA[Members]]></metaKeywords>
      <metaDescription><![CDATA[Members]]></metaDescription>
      <umbracoNaviHide>0</umbracoNaviHide>
    </members>
    <sitemap id="1137" key="03b91de3-2051-4d41-b8d5-b4c62d9542aa" parentID="1089" level="2" creatorID="0" sortOrder="9" createDate="2017-04-02T21:18:46" updateDate="2017-04-02T21:18:46" nodeName="Sitemap" urlName="sitemap" path="-1,1089,1137" isDoc="" nodeType="1101" creatorName="Vilius Vigelis" writerName="Vilius Vigelis" writerID="0" template="1100" nodeTypeAlias="sitemap">
      <metaKeywords><![CDATA[Sitemap]]></metaKeywords>
      <metaDescription><![CDATA[Sitemap]]></metaDescription>
      <umbracoNaviHide>1</umbracoNaviHide>
    </sitemap>
  </homePage>
</root>